name: Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      nim_version:
        description: 'Nim version to test (e.g., 2.2.6)'
        required: false
        default: '2.2.6'
jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: Linux-X64
            container: quay.io/pypa/manylinux_2_34_x86_64
          - os: ubuntu-22.04-arm
            platform: Linux-ARM64
            container: quay.io/pypa/manylinux_2_34_aarch64
          - os: macos-latest
            platform: macOS-ARM64
            container: null
          - os: windows-latest
            platform: Windows-X64
            container: null
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    env:
      NIM_VERSION: ${{ github.event.inputs.nim_version || '2.2.4' }}
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies (Linux container)
        if: matrix.container
        run: yum install -y curl tar gzip

      - name: Download Nim build (Unix)
        if: runner.os != 'Windows'
        run: |
          curl -sSL "https://github.com/treeform/nimby-nim-builds/releases/download/${{ env.NIM_VERSION }}/nim-${{ env.NIM_VERSION }}-${{ matrix.platform }}.tar.gz" -o nim.tar.gz

      - name: Download Nim build (Windows)
        if: runner.os == 'Windows'
        run: |
          curl -sSL "https://github.com/treeform/nimby-nim-builds/releases/download/${{ env.NIM_VERSION }}/nim-${{ env.NIM_VERSION }}-${{ matrix.platform }}.zip" -o nim.zip

      - name: Extract Nim build (Unix)
        if: runner.os != 'Windows'
        run: |
          mkdir -p nim
          tar xf nim.tar.gz --strip-components=1 -C nim

      - name: Extract Nim build (Windows)
        if: runner.os == 'Windows'
        run: |
          powershell -NoProfile -Command Expand-Archive -Force -Path nim.zip -DestinationPath .
          Rename-Item -Path "nim-${{ env.NIM_VERSION }}-${{ matrix.platform }}" -NewName "nim"

      - name: Add Nim to PATH (Unix)
        if: runner.os != 'Windows'
        shell: bash
        run: echo "${GITHUB_WORKSPACE}/nim/bin" >> "$GITHUB_PATH"

      - name: Add Nim to PATH (Windows)
        if: runner.os == 'Windows'
        run: echo "${{ github.workspace }}\nim\bin" >> $env:GITHUB_PATH

      - name: Print Nim version
        shell: bash
        run: nim --version

      - name: Print Nimby version
        shell: bash
        run: nimby --version

      - name: Create test file
        shell: bash
        run: |
          echo 'echo "Hello from Nim!"' > test.nim

      - name: Test Nim build
        shell: bash
        run: nim c -r test.nim
